{% extends 'base.html' %}
{% load static %}
{% block contents %}
<h1 class="text-center"><u>फेंसिंग कार्य हेतु आवश्‍यक सामाग्री का विवरण</u></h1>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <td>सामग्री</td>       
            <td>मात्रा</td>
        </tr>        
    </thead>
    <tr>
        <td>फेंसिंग पोल (10%) अतिरिक्‍त</td>       
        <td></td>
    </tr>
    <tr>
        <td>सिंमेंट</td>       
        <td></td>
    </tr>
    <tr>
        <td>रेत</td>      
        <td></td>
    </tr>
    <tr>
        <td>गिट्टी</td>      
        <td></td>
    </tr>
    <tr>
        <td>कांटेदार तार (कि.ग्रा.)</td>      
        <td></td>
    </tr>
     <tr>
        <td>चेनलिंक जाली (कि.ग्रा.)</td>      
        <td></td>
    </tr>
</table>

{% endblock contents %}