{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <marquee bgcolor="green" style="color:white;" behavior="" direction="">
        {% include 'marquee.py' %}
    </marquee>
    <main>
        <div class="row">               
            <div class="col-sm-9">
                {% include 'carousel.py' %}    
            </div>             
            <div class="col-sm-3">
                {% include 'loksuchna.py' %}
            </div>
        </div>
        <br>  
        {% include 'newsimage.py' %}              
        <hr/>
    </main>
{% endblock contents %}