{% extends 'base.html' %}
{% load static %}
{% block contents %}
<h1 class="text-center"><u>राजपत्र</u></h1>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>राजपत्र</td>
            <th>डाउनलोड</td>
        </tr>
    </thead>
    <tr>
        <td>नियुक्ति दिनांक से 1900 ग्रेड-पे</td>
        <td><a class="dropdown-item" target="_blank" href="{% static '/download/rajpatra/2014-09-08-414.pdf' %}"><i class="fa fa-download"></i></a></td>
    </tr>
</table>
{% endblock contents %}