{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <style>
        .success{
            color:green;
        }
    </style>
   <div class="container m-3">
        <div class="col-lg-5 shadow mx-auto p-0">
        <div><h1 class="alert alert-primary text-center">Sign-up</h1></div>
        <div class="p-5">
             <form action="" method="post" novalidate>
    {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="er">{{error}}</p>
            {% endfor %}
        {% endif %}
        
        {% for fm in form %}
            {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br>
        {% endfor %}
        <hr>
        <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Submit">
    </form>  
    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</small>
        {% endfor %}
    {% endif %}  
    <br>
    <div class="text-center">
    <a href="{% url 'user_login' %}">Login Now</a>
        </div>
</div>    
    </div>
      </div>
   
{% endblock contents %}