{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <h1>upload pdf</h1>
 
    <form action=""method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}        
        <input class="btn btn-outline-success "type="submit" value="सुरक्षित करें">         
        {% if form.non_field_error %}
            {% for error in form.non_field_error %}
                <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
        {% endif %}
    </form>

{% endblock contents %}