{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <style>
    .er{
        color:red;
    }
    </style>
    <div class="container m-5">
        <div class="col-lg-5 shadow mx-auto p-0">
        <div><h1 class="alert alert-primary text-center p-1">Login</h1></div>
        <div class="p-3">
            <form action="" method="post" novalidate>
            {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="er">{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
            {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br>
        {% endfor %}
        <hr>
            <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Login">        
            </div>
            
            Not a member <a href="{% url 'signup' %}">Signup now</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Forget Password?</a>
        
    </form>
    </div>
        </div>
    </div>
    

{% endblock contents %}