<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: वन कर्मचारी संघ-हरदा ::</title>
    <link rel="stylesheet" href={% static '/css/style.css' %} >
    <link rel="icon" href={% static '/images/icon.png' %}>   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static '/css/bootstrap.css' %}>
 
</head>
<body>
    <div class="container-fluid wrapper">
        <header>
            {% include 'topheader.py' %}            
            <div class="banner">           
                <img src={% static '/images/banner.png' %} alt=""> 
            </div>
            
        </header>
        <div class="container"> 
           {% include 'nav.py' %}
            <hr>       
            {% block contents %}{% endblock contents %}
        </div>
        
        <footer>
            {% include 'footer.py' %}
        </footer>
    </div>
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  {% endcomment %}
    <script src="https://www.jqueryscript.net/demo/Flexible-Customizable-jQuery-News-Ticker-Plugin-Easy-Ticker/jquery.easy-ticker.js"></script>

    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>

     <script type="text/javascript">
        $('.ticker-wrapper').easyTicker({
            direction: 'up',
            easing: 'swing',
            visible: 5,
            mousePause:1
        });
    </script>
</body>
</html>